# Ignore node_modules directory (commonly used in JavaScript projects)
node_modules/

# Ignore log files
*.log

# Ignore compiled Python files
*.pyc

# Ignore build directories
/build
/dist

# Ignore environment files
.env

# Ignore macOS system files
.DS_Store

# Ignore any other specific files or directories
package.json
package-lock.json
eslint.config.mjs
.vscode/